body {
  margin: 0;
  font-family: 'Be Vietnam Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-medium-24 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 1.5rem; /* 24px */
}

.text-semibold-20 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 1.25rem; /* 20px */
}

.text-semibold-16 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 1rem; /* 16px */
}

.text-medium-16 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 500;
  font-size: 1rem; /* 16px */
}

.text-bold-14 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 700;
  font-size: 0.875rem; /* 14px */
}

body {
	background-image: url('/public/bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}